* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    color: #2a277c;
}
::placeholder {
    color: #a1a1aa;
}

body{
    background-color: #F8F8FD;
}

.text-b{
    color: #000 !important;
}

.text-h{
    color: #ffffff !important;
}